footer,header{
    background-color: gray;
    font-size: 25px;
    font-family: sans-serif;
}
.mountains{
height: 600px;
width: 700px;
}
logo{
margin-top: 10px;
display: inline;
width: 40px;
height: 40px;
}